# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/out
/Horus Vision/cache
/Horus Vision/external/glad/src
/Horus Vision/external/glad/include
/Horus Vision/external
/Horus Vision/hipbin
/Horus Vision/logs
/Horus Vision/resources
*.ini
/.vs/Horus Vision
*.iss
/Horus Vision/aretheuse_149.png
/Horus Vision/aretheuse_209.png
/Horus Vision/aretheuse_327.png
/Horus Vision/aretheuse_96.png
/Horus Vision/FinalRender.png
/Horus Vision/TestExport_96.png
/Horus Vision/test_light_1024.png
/Horus Vision/core/camera/README.md
/Horus Vision/core/config/README.md
/Horus Vision/core/light/README.md
/Horus Vision/core/material/README.md
/Horus Vision/core/mesh/README.md
/Horus Vision/core/objects/README.md
/Horus Vision/core/scene/README.md
/Horus Vision/core/shaders/README.md
/Horus Vision/core/ui/README.md
/Horus Vision/core/window/README.md
/Horus Vision/core/README.md
/README.md
/.gitignore
/FuncStats.txt
/GuidStats.txt
/Log.txt
/present.txt
/Horus Vision/FlowerOut.png
